.icons, .btns{
  display: flex;
  flex-direction: row;
  align-items: center;
}




.icons {
  justify-content: space-between;
  width: 120px;
  font-size: 16px;
  margin: 0px 22px;
}



.btns {
  justify-content: space-between;
  width: 300px;
}




/* 

.header-section {
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.content-type {
  width: 165px;
}

.logo a img {
  width: 110px;
}

.logo {
  width: 140px;
}

.content-type i {
  font-size: 20px;
  color: blue;
  margin-right: 6px;
}

.button {
  width: 130px;
  height: 35px;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px;
  border-width: 2px 2px 2px 2px;
  font-size: initial;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-style: normal;
  word-spacing: 4px;
}

.log-in {
  background: #504b4c;
  color: #fff;
  border: 2px solid #353031;
}

.sign-up {
  color: #504b4c;
  background: #fff;
  border: 2px solid #353031;
} 

.input {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.input form input {
  width: 400px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-indent: 32px;
}

.input .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.icons div {
  cursor: pointer;
}

.icons div i {
  padding: 8px;
  border-radius: 3px;
}
.icons div i:hover  {
  background-color: #dddcdc;
}

*/