.post-container {
  width: 600px;
  padding: 10px 0px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 15px;
}

.post-header > * {
  margin-right: 6px;
}

.ups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  min-width: 45px;
}

.post-subreddit {
  font-size: 14px;
}

.post-subreddit:hover, .post-author:hover {
  text-decoration: underline;
}

.post-info {
  font-size: 11px;
  color: grey;
}

.post-title {
  font-size: 20px;
}

.post-footer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.post-footer div {
  margin-right: 5px;
}

.post-commetns, .post-share {
  display: flex;
  flex-direction: row;
  color: #8a8888;
  align-items: baseline;
  width: min-content;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 14px;
}

.post-commetns p {
  margin: 0px 4px;
}

.post-commetns i, .post-share i {
  font-size: 16px;
}

.post-commetns:hover, .post-share:hover {
  background-color: #e2e0e0;
}

.ups i {
  font-size: 22px;
  color: #6e6e6e;
  padding: 3px 6px;
}

.ups p {
  font-size: 18px;
}

.fa-caret-up:hover {
  color: red;
}

.fa-caret-down:hover {
  color: blue;
}

.post-share i {
  margin-right: 4px;
}