.logo a img {
  width: 110px;
}

.logo {
  width: 140px;
}

.button {
  width: 130px;
  height: 35px;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px;
  border-width: 2px 2px 2px 2px;
  font-size: initial;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-style: normal;
  word-spacing: 4px;
}

.log-in {
  background: #504b4c;
  color: #fff;
  border: 2px solid #353031;
}

.sign-up {
  color: #504b4c;
  background: #fff;
  border: 2px solid #353031;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

section, .icons, .btns, .content-type, .input {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.content-type {
  width: 165px;
}

section {
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.icons {
  justify-content: space-between;
  width: 120px;
  font-size: 20px;
  margin: 0px 25px;
}

.icons div {
  cursor: pointer;
}

.btns {
  justify-content: space-between;
  width: 300px;
}

.content-type i {
  font-size: 20px;
  color: blue;
  margin-right: 6px;
}

.input {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.input form input {
  width: 400px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-indent: 32px;
}

.input .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}